<div>
	<div>
		<%= image_tag "welcome/magma.png", width: '300px' %>
	</div>


	<ul class="navvar-home" >
	  <li class="linavvar-home"><a><%= link_to 'Home', controller: 'welcome' %></a></li>
	  <li class="linavvar-home"><a><%= link_to 'TODO´s App', controller: 'activities' %></a></li>
	  <li class="linavvar-home"><a><%= link_to 'Assignment', controller: 'howitworks' %></a></li>
	  <li class="linavvar-home"><a><%= link_to 'Build it', controller: 'buildit' %></li>
	  <li class="linavvar-home"><a><%= link_to 'About', controller: 'about' %></a></li>

	</ul>
</div>