<p class="session"><%= render 'semantic/session' %></p>
<div>
	<%= image_tag "welcome/magma.png", width: '300px' %>
</div>
<div>
	<ul class="navvar" >
	  <li class="linavvar-home"><%= link_to 'Inicio', controller: 'welcome' %></li>
	  <li class="linavvar-home"><%= link_to 'TODO´s App', controller: 'activities' %></li>
	  <li class="linavvar-home"><%= link_to 'Assignment', controller: 'howitworks' %></li>
	  <li class="linavvar-home"><%= link_to 'Build it', controller: 'buildit' %></li>
	  <li class="linavvar-home"><%= link_to 'About', controller: 'about' %></li>
	</ul>
</div>