
<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<header>
		<%= render 'semantic/header'%>	
	</header>
	<br>
	<br>
	<br>
	<div class="welcome_box_black">
		<div class="img_act" align="center">
			<%= image_tag "welcome/acti.png", width: '1270px' %>
		</div>
		
		<h1 align="center">Welcome to the TODO`s App</h1>
		<p>TODO´s app is a way for you to be able to manage your daily life, by setting up mail reminders for your weekly activities. Basically you need to create a List of TODO´s in those lists you can create especific tasks. 
		All you need to do to get started is to create an account or if you already have one, you can simply login and manage your lists and tasks.</p>
	</div>
	<br>
	<br>
	<br>
	<div class="welcome_box_black" align="center">
		<div class="img_task">
			<%= image_tag "welcome/tasks.jpg", width: '632px' %>
			<%= image_tag "welcome/tasks2.jpg", width: '570px' %>
		</div>
		
		<h1 align="center">Assignment for the MagmaHackers Program</h1>
		<p>TODO´s app is a way for you to be able to manage your daily life, by setting up mail reminders for your weekly activities. Basically you need to create a List of TODO´s in those lists you can create especific tasks. 
		All you need to do to get started is to create an account or if you already have one, you can simply login and manage your lists and tasks.</p>
		<br>
		<br>
	</div>
	<br><br><br>
	<div class="welcome_box_black" align="center">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.393769145606!2d-103.71299278494502!3d19.265234986979603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84255ac0cb7baabd%3A0x49107047fc2c8c23!2sMagmaLabs!5e0!3m2!1ses!2smx!4v1539652038584" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<br><br><br>
	<div class="welcome_box_black">
		<a class="twitter-grid" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<br><br><br>
	<footer>
		<%= render 'semantic/footer'%>
	</footer>
</body>
</html>






