<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<%= render 'activities/header' %>
	</header>

	<p class="session"><%= render 'session' %></p>

	<br>
	<br>
	<br>
	<div class="welcome_box_black">
		<h1 align="center">About the Website.</h1>
		<p>Developed in Ruby on Rails, the Web app allows the user to have TODO´s lists and tasks with in those lists. The web app knows which Lists and Tasks belong to each user, thanks to the references created to the DataBase.
		For the Authentification used Devise gem, which basically did everything for me.
		</p>
		<div align ="center">
			<%= image_tag "about/ruby.png", width: '300px' %>
			<%= image_tag "about/rails.png", width: '700px' %>
		</div>
		
	</div>
	<br>
	<br>


	<div class="welcome_box_black">
		<h1 align="center">About the creator</h1>
		<br>
		<p>Eduardo Javier Candanedo Contreras borned in Colima, Col; currently living in Cuauhtemoc, Colima. Studied Computer Systems Engeneer at Tecnologico de Colima, then transfer to Tecnologico de Zapopan and started working for Teleperformance as a Customer Service agent for Comcast, then when I was in 7th Semester</p>
		<br>
		<br>
		<div align="center"><%= image_tag "about/creator.jpg", width: '300px' %></div>
	</div>
	<br><br><br>
	<footer>
		<%= render 'activities/footer' %>
	</footer>
</body>
</html>

